~*
*~
#*
*#
nscrl
clangd.core

game/~*
game/*~
game/~#
game/#~
game/nscrl
game/clangd.core
game/.clangd
game/src/.#*
game/src/~*
game/src/*~
game/src/*#
game/src/#*
game/src/include/~*
game/src/include/*~
game/src/include/*#
game/src/include/#*
game/obj/*

spriteCreate/~*
spriteCreate/*~
spriteCreate/*#
spriteCreate/#*
spriteCreate/src/~*
spriteCreate/src/*~
spriteCreate/src/*#
spriteCreate/src/#*
spriteCreate/src/include/~*
spriteCreate/src/include/*~
spriteCreate/src/include/*#
spriteCreate/src/include/#*
spriteCreate/obj/*



designDocuments/~*
designDocuments/*~
designDocuments/*#
designDocuments/#*

assets/~*
assets/*~
assets/*#
assets/#*
assets/level1/~*
assets/level1/*~
assets/level1/*#
assets/level1/#*
assets/sprites/~*
assets/sprites/*~
assets/sprites/*#
assets/sprites/#*