~*
*~
#*
*#
nscrl
nscrl.core
clangd.core
*.core

tmp
game/~*
game/*~
game/*#
game/#*
game/.cache
game/tmp
game/tmp/*
game/nscrl
game/clangd.core
game/.clangd
game/*.core
game/src/.#*
game/src/~*
game/src/*~
game/src/*#
game/src/#*
game/src/include/~*
game/src/include/*~
game/src/include/*#
game/src/include/#*
game/obj/*


tools/benchmarking/~*
tools/benchmarking/*~
tools/benchmarking/*#
tools/benchmarking/#*

tools/chunkEditor/*.bgchunk
tools/chunkEditor/*.crchunk
tools/chunkEditor/*.levbg
tools/chunkEditor/*.levcr
tools/chunkEditor/chunked
tools/chunkEditor/*.core
tools/chunkEditor/.tmp
tools/chunkEditor/tmp*
tools/chunkEditor/chunked
tools/chunkEditor/obj
tools/chunkEditor/src/*~
tools/chunkEditor/src/~*
tools/chunkEditor/src/*#
tools/chunkEditor/src/#*
tools/chunkEditor/src/include/*~
tools/chunkEditor/src/include/~*
tools/chunkEditor/src/include/*#
tools/chunkEditor/src/include/#*

tools/spriteEditor/*.sprite
tools/spriteEditor/spriteed
tools/spriteEditor/*.core
tools/spriteEditor/.tmp
tools/spriteEditor/tmp*
tools/spriteEditor/obj
tools/spriteEditor/src/*~
tools/spriteEditor/src/~*
tools/spriteEditor/src/*#
tools/spriteEditor/src/#*
tools/spriteEditor/src/include/*~
tools/spriteEditor/src/include/~*
tools/spriteEditor/src/include/*#
tools/spriteEditor/src/include/#*


spriteCreate/~*
spriteCreate/*~
spriteCreate/*#
spriteCreate/#*
spriteCreate/src/~*
spriteCreate/src/*~
spriteCreate/src/*#
spriteCreate/src/#*
spriteCreate/src/include/~*
spriteCreate/src/include/*~
spriteCreate/src/include/*#
spriteCreate/src/include/#*
spriteCreate/obj/*



designDocuments/~*
designDocuments/*~
designDocuments/*#
designDocuments/#*

assets/~*
assets/*~
assets/*#
assets/#*
assets/level1/~*
assets/level1/*~
assets/level1/*#
assets/level1/#*
assets/sprites/~*
assets/sprites/*~
assets/sprites/*#
assets/sprites/#*